{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}All Novel - KungfuRealm{% endblock %}

{% block header %}
<header class="site-header fixed" id="main-navbar">
  <div class="outer-container">
    <div class="container-fluid">
      <div class="col-md-2 col-xs-8 logo-wrap">
        <!-- start logo -->
        <a href="#" class="custom-logo-link">
          <!--<img width="150" height="300" src="/static/images/kungfu.jpg" alt="" />-->
            <img width="150" height="300" src="/static/logo/logo2.png" alt="" />
        </a>
        <!-- end logo -->
      </div>
      <div class="col-md-8 hidden-sm hidden-xs">
        <span class="line"></span>
        <nav class="main-menu" style="overflow:visible" id="main-menu">
          <ul id="menu-main-menu" class="menu">
            <li><a href="/">Home</a></li>
              <li class="current-menu-item"><a href="/allnovel">All Novel</a></li>
        {% if current_user.is_administrator() %}
        <li><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
            <li class="menu-item-has-children"><a href="#">Author</a>
              <ul>
                <li><a href="{{ url_for('main.author_search', authorname='Jin Yong') }}">Jin Yong</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Gu Long') }}">Gu Long</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Tang Jia san shao') }}">Tang Jia san shao</a></li>
                <li><a href="#">Liang Yusheng</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <nav class="mobile-menu visible-sm visible-xs" id="mobile-menu">
        <ul id="menu-main-menu-1" class="menu">
          <li><a href="/">Home</a></li>
            <li class="current-menu-item"><a href="/allnovel">All Novel</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
          <li class="menu-item-has-children"><a href="#">Author</a>
            <ul>
              <li><a href="#">Jin Yong</a></li>
              <li><a href="#">Gu Long</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="backdrop hidden-md hidden-lg" id="backdrop">
        <span class="menu-close text-center"><i class="fa fa-arrow-left"></i></span>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
    {% for post in posts %}

      <article class="post-entry">
        <div class="featured-media text-center">
          <a href="{{ url_for('.post', id=post.id)}}"><img src="{{ post.picture }}" class="img-responsive" alt="" width="1200" height="800"/></a>
        </div>
        <!-- post content -->
        <div class="entry-content-wrap">
          <h3 class="title"><a href="{{ url_for('.post', id=post.id)}}">{{ post.postname }}</a></h3>
            {% if post.novelname %}
            <em><a href="{{ url_for('main.novel_by_name', novelname=post.novelname) }}">{{ post.novelname }}</a></em>
            {% endif %}
          <div class="post-content text-content">
            <p>
             {% if post.body_html %}
               {{ post.body_html[:222] | safe }}
            {% else %}
               {{ post.body[:222] }}
            {% endif %}&#8230;</p>
          </div>
               <div class="post-footer">
               {% if current_user == post.author %}
               <a href="{{ url_for('main.edit', id=post.id) }}" class="label label-primary" style="float:right">Edit</a>
               {% endif %}
               {% if current_user.is_administrator() %}
               <a href="{{ url_for('main.edit', id=post.id) }}" class="label label-danger" style="float:right">Edit [Admin]</a>
               {% endif %}
               </div>
          <div class="post-meta">
            <span class="author">By <a href="{{ url_for('.user', username=post.author.username) }}" title="Posts by {{ post.author.username }}" rel="author">{{ post.author.username }}</a></span>
            <span class="date">- On {{ moment(post.timestamp).format('LL') }}</span>
          </div>
        </div>
      </article>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6t+ed+2i-1n-4w"
     data-ad-client="ca-pub-2591312759975053"
     data-ad-slot="6679470836"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% endfor %}
{% endblock %}
{% block pagination %}
    {% if pagination %}
        <div class="pagination-wrap clearfix" role="navigation">
       {{ macros.pagination_widget(pagination, '.all_novel') }}
    </div>
    {% endif %}
{% endblock %}
{% block choice %}
{% if choice %}
<div class="comment-wrap">
   <div class="panel-heading">Editor's Choice</div>
        <div class="panel-body">
           <div class="text-center">
              <div class="row">
                 <a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}">
                          <img class="img-responsive" alt width="400" height="120" src="{{ choice.picture}}">
                 </a>
              </div>
              <div class="row">
                 <a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}"><h4>{{ choice.novelname}}</h4></a>
              </div>
           </div>
        </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}