{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}Kung Fu Realm - index{% endblock %}

{% block content %}
    {% for post in posts %}
      <article class="post-entry">
        <div class="featured-media text-center">
          <a href="{{ url_for('.post', id=post.id)}}"><img src="{{ post.picture }}" class="img-responsive" alt="" width="1200" height="800"/></a>
        </div>
        <!-- post content -->
        <div class="entry-content-wrap">
          <h3 class="title"><a href="{{ url_for('.post', id=post.id)}}">{{ post.postname }}</a></h3>
            {% if post.novelname %}
            <em><a href="{{ url_for('main.novel_by_name', novelname=post.novelname) }}">{{ post.novelname }}</a></em>
            {% endif %}
          <div class="post-content text-content">
            <p>
             {% if post.body_html %}
               {{ post.body_html[:222] | safe }}
            {% else %}
               {{ post.body[:222] }}
            {% endif %}&#8230;</p>
          </div>
                <div class="post-footer">
               {% if current_user == post.author %}
               <a href="{{ url_for('main.edit', id=post.id) }}" class="label label-primary" style="float:right">Edit</a>
               {% endif %}
               {% if current_user.is_administrator() %}
               <a href="{{ url_for('main.edit', id=post.id) }}" class="label label-danger" style="float:right">Edit [Admin]</a>
               {% endif %}
               </div>
          <div class="post-meta">
            <span class="author">By <a href="{{ url_for('.user', username=post.author.username) }}" title="Posts by {{ post.author.username }}" rel="author">{{ post.author.username }}</a></span>
            <span class="date">- On {{ post.timestamp }}</span>
          </div>
        </div>
      </article>
    {% endfor %}
{% endblock %}
{% block pagination %}
    {% if pagination %}
        <div class="pagination-wrap clearfix" role="navigation">
       {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% endif %}
{% endblock %}
{% block script %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}