{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}Home - KungfuRealm{% endblock %}

{% block content %}
                <div class="col-md-12">
                    <div class="block-header mb30">
                        <br>
                        <!--<div class="block-title">-->
                        <!--Wuxia Novels-->
                        <!--</div>-->
                        <!--<div class="block-description">-->
                        <!--WUXIA NOVELS SORTED BY:-->
                            <!--<a href="#">MOST VIEWED</a>| TOP RATED-->
                        <!--</div>-->
                    </div>
                </div>
<div class="col-md-4">
    <div class="popular-novels">
        <div class="block-header">
            <div class="block-title">
                Popular Novels
            </div>
        </div>
        {% for top5 in top5_novels %}
        <div class="popular-novel-item-block">
            <div class="popular-novel-item-top clearfix">
                <div class="title" style="box-sizing:border-box;width: 94%;margin-bottom: 0px;">
                    <a href="{{ url_for('main.novel_by_name', novelname=top5.novelname)}}">{{ top5.novelname }}</a>
                </div>
                <div class="rating" style="box-sizing:border-box;width: 6%;float:right;">
                    <a href="{{ url_for('main.novel_by_name', novelname=top5.novelname)}}">{{ top5.rate }}</a>
                </div>
            </div>
            <div class="popular-novel-item-bottom">
                <div class="progress">
                    <div style="width:{{ top5.rate * 10 }}%; background-color: #FF9900" class="progress-bar"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="popular-novels">
        <div class="block-header">
            <div class="block-title">
                Recent Chapters
            </div>
        </div>
        {% for recent in top5_posts %}
        <br>
        <div class="latest-comment-item-block" style="background-image: url({{ recent.picture }}); background-size:290px 230px; background-repeat:no-repeat">
            <div class="latest-comment-item-body" style="position: relative; border: 1px solid #f0f0f0; padding: 40px; border-radius: 2px;">
                <div class="novel-title">
                    <h4><em><a href="{{ url_for('main.novel_by_name', novelname=recent.novelname)}}">{{ recent.novelname }}</a></em></h4>
                </div>
                <div class="novel-comment">
                    <a href="{{ url_for('.post', id=recent.id)}}"><p>{{ recent.postname }}</p></a>
                </div>
                <div class="novel-commentator">{{ recent.author.username }}</div>
            </div>
        </div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-2591312759975053"
     data-ad-slot="4475979328"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {% endfor %}
           <div class="block-header">
            <div class="block-title">
                <a href="/allnovel">More</a>
            </div>
        </div>
    </div>
</div>

        {% for novel in novels %}
        <div class="col-md-8" style="float:right;">
              <div class="recent-post">
                  <div class="top-novel-block">
                    <div class="top-novel-header">
                        <h2 itemprop="headline">
                            <a itemprop="url" href="{{ url_for('main.novel_by_name', novelname=novel.novelname)}}">{{ novel.novelname }}</a>
                        </h2>
                    </div>
                    <div class="top-novel-content">
                        <div class="top-novel-cover">
                            <a href="{{ url_for('main.novel_by_name', novelname=novel.novelname) }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject"><img src="{{ novel.picture }}"> </a>
                        </div>
                        <div class="top-novel-body">
                            <div class="novel-item">
                                <div class="label">
                                    <span>
                                        <strong>Author:</strong>
                                    </span>
                                </div>
                                <div class="content"><a href="{{ url_for('.user', username=novel.author.username) }}">{{ novel.author.username}}</a></div>
                            </div>
                            <div class="novel-item">
                                <div class="label">
                                    <span>
                                        <strong>Original:</strong>
                                    </span>
                                </div>
                                {% if novel.original %}
                                <div class="content"><a href="#">{{ novel.original}}</a></div>
                                {% else %}
                                <div class="content">N/A</div>
                                {% endif %}
                            </div>
                            <div class="novel-item">
                                <div class="label">
                                    <span>
                                        <strong>Rated:</strong>
                                    </span>
                                </div>
                                <div class="content">{{ novel.rate}}</div>
                            </div>
                            <div class="novel-item">
                                <div class="label">
                                    <span>
                                        <strong>Category:</strong>
                                    </span>
                                </div>
                                <div class="content"><a href="{{ url_for('main.novel_by_tag', tag=novel.category)}}">{{ novel.category}}</a></div>
                            </div>
                            <div class="novel-item">
                                <div class="label">
                                    <span>
                                        <strong>Description:</strong>
                                    </span>
                                </div>
                                <div class="content"><p>{{ novel.description[:40] }}&#8230;</p></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="post-footer">
                    {% if current_user == novel.author %}
                    <a href="{{ url_for('main.editnovel', id=novel.id) }}" class="label label-primary" style="float:right">Edit</a>
                    {% endif %}
                    {% if current_user.is_administrator() %}
                    <a href="{{ url_for('main.editnovel', id=novel.id) }}" class="label label-danger" style="float:right">Edit [Admin]</a>
                    {% endif %}
               </div>
              </div>
        </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-2591312759975053"
     data-ad-slot="4475979328"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            {% endfor %}


      <!-- end post entry -->
      <!-- start pagination -->
{% block pagination %}
    <div class="pagination-wrap clearfix" role="navigation">
    </div>
{% endblock %}
      <!-- end pagination -->
          <!-- start pagination -->
        {% if pagination %}
             <div class="col-md-8" style="float:right;">
                {{ macros.pagination_widget(pagination, '.index') }}
             </div>
        {% endif %}
        <!-- end pagination -->
{% endblock %}
{% block choice %}
{% if choice %}
<div class="comment-wrap">
   <div class="panel-heading">Editor's Choice</div>
        <div class="panel-body">
           <div class="text-center">
              <div class="row">
                 <a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}">
                          <img class="img-responsive" alt width="400" height="120" src="{{ choice.picture}}">
                 </a>
              </div>
              <div class="row">
                 <a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}"><h4>{{ choice.novelname}}</h4></a>
              </div>
           </div>
        </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}