{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}Kung Fu Realm - Profile{% endblock %}

{% block header %}
<header class="site-header fixed" id="main-navbar">
  <div class="outer-container">
    <div class="container-fluid">
      <div class="col-md-2 col-xs-8 logo-wrap">
        <!-- start logo -->
        <a href="#" class="custom-logo-link">
          <!--<img width="150" height="300" src="/static/images/kungfu.jpg" alt="" />-->
            <img width="150" height="300" src="/static/logo/logo2.png" alt="" />
        </a>
        <!-- end logo -->
      </div>
      <div class="col-md-8 hidden-sm hidden-xs">
        <span class="line"></span>
        <nav class="main-menu" style="overflow:visible" id="main-menu">
          <ul id="menu-main-menu" class="menu">
            <li><a href="/">Home</a></li>
              <li><a href="/allnovel">All Novel</a></li>
        {% if current_user.is_administrator() %}
        <li><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
            <li class="menu-item-has-children"><a href="#">Author</a>
              <ul>
                <li><a href="{{ url_for('main.author_search', authorname='Jin Yong') }}">Jin Yong</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Gu Long') }}">Gu Long</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Tang Jia san shao') }}">Tang Jia san shao</a></li>
                <li><a href="#">Liang Yusheng</a></li>
              </ul>
            </li>
              <!--
           {% if current_user.is_authenticated %}
            <li class="menu-item-has-children current-menu-item"><a href="#">About Me</a>
              <ul>
                <li><a href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a></li>
                {% if current_user.is_administrator() %}
                    <li><a href="/admin">Admin Page</a></li>
                <li><a href="{{ url_for('main.manage_user') }}">Manage User</a></li>
                <li><a href="{{ url_for('api.online_user') }}">Online User</a></li>
                <li><a href="{{ url_for('chat.chat_index') }}" target="_blank">Talk With Robot</a></li>
               {% endif %}
               <li><a href="{{ url_for('main.manage_profile') }}">Setting</a></li>
               {% if current_user.can(Permission.MODERATE_COMMENTS) %}
               <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
               {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
             </li>
              {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
              {% endif %}
              -->
          </ul>
        </nav>
      </div>
      <nav class="mobile-menu visible-sm visible-xs" id="mobile-menu">
        <ul id="menu-main-menu-1" class="menu">
          <li><a href="/">Home</a></li>
            <li><a href="/allnovel">All Novel</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
          <li class="menu-item-has-children"><a href="#">Author</a>
            <ul>
              <li><a href="#">Jin Yong</a></li>
              <li><a href="#">Gu Long</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="backdrop hidden-md hidden-lg" id="backdrop">
        <span class="menu-close text-center"><i class="fa fa-arrow-left"></i></span>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block cover %}{% endblock %}

{% block content %}
    <br>
<div class="comment-wrap" id="comments">
<!-- avatar -->
<div>
<div class="col-md-4 widget-wrap">
{% if current_user.user_avatar %}
  <img class="img-rounded profile-thumbnail" src="{{ user.user_avatar }}">
  {% endif %}
  {% if not current_user.user_avatar %}
  <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=152) }}">
  {% endif %}
</div>
<!-- end avatar -->
<!-- user name -->
<div class="col-md-8 widget-wrap">
    <h3>Author: {{ user.username }}</h3>
    {% if user.name or user.location %}
    <p>
       {% if user.name %}<span class="glyphicon glyphicon-user" style="color: rgb(0, 0, 0); font-size: 10px;"></span> <span class="label label-success">{{ user.name }}</span></p>{% endif %}
    <p>   {% if user.location %}<span class="glyphicon glyphicon-home" style="color: rgb(0, 0, 0); font-size: 10px;"> </span> <a href="http://maps.google.com/?q={{ user.location }}"><span class="label label-primary">{{ user.location }}</span></a>
       {% endif %}
    </p>
    {% endif %}
<!-- end user name -->
<!-- other information -->
    {% if current_user.is_administrator() %}
    <p><span class="label label-warning">Contact me: <a href="mailto:{{ user.email }}">{{ user.email }}</a></span></p>
    {% endif %}
    {% if user.about_me %}<p><span class="label label-default">{{ user.about_me }}</span></p>{% endif %}
    <!--<p>Member Since: {{ user.member_since }}</p>-->
    <p>Member Since: {{ moment(user.member_since).format('LLL') }}</p>
    <!--<p>Last Seen: {{ last }}</p>-->
    <p>Last Seen: {{ moment(user.last_seen).format('LLL') }}</p>
<!-- end other information -->
<!-- blog count -->
    <p>{{ user.posts.count() }} novels published.</p>
<!-- end blog count -->
<!-- follow -->
    <p>
       {% if current_user.can(Permission.FOLLOW) and user != current_user %}
          {% if not current_user.is_following(user) %}
          <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
          {% else %}
          <a href="{{ url_for('.unfollow', username=user.username)}}" class="btn btn-default">Unfollow</a>
          {% endif %}
        {% endif %}
       <!--<a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() }}</span> </a>-->
       <!--<a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count() }}</span> </a>-->
       {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
         <span class="label label-default">Following you</span>
         {% endif %}
     </p>
<!-- end follow -->
<!-- edit profile -->
    <p>
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
    {% endif %}

    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
    Edit Profile [Admin]
    </a>
{% endif %}
   </p>
<!-- end edit profile -->
</div>
</div>
{% if posts %}
<h3>Published by {{ user.username }}</h3>
          <ol>
            {% for post in posts %}
              <li id="comment-4" class="comment-entry" >
              <article class="comment depth-1">
                <header>
                  <a href="{{ url_for('main.novel_by_name', novelname=post.novelname)}}" target="_blank" class="pull-left">
                      <!--<a href="{{ url_for('.profile', username=post.author.username) }}" target="_blank" class="pull-left">-->
                    <img alt='' src='{{ post.picture }}' class='avatar' height='50' width='50' />
                      <!--<img alt='' src='{{ post.author.gravatar(size=40) }}' class='avatar' height='50' width='50' />-->
                  </a>
                  <div class="comment-details clearfix">
                    <div class="commenter-name">
                      <a href="{{ url_for('main.novel_by_name', novelname=post.novelname)}}" target="_blank">{{ post.novelname }}</a>
                    </div>
                    <span class="commenter-meta">{{ moment(post.timestamp).format('LL') }}</span>
                  </div>
                </header>
                <div class="comment-body">
                <p style="font-size: 20px"><a href="{{ url_for('.post', id=post.id)}}">{{ post.postname}}</a></p>
                  <p>
            {% if post.body_html %}
               {{ post.body_html[:222] | safe }}
            {% else %}
               {{ post.body[:222] }}
            {% endif %}&#8230;
                  </p>
                </div>
              </article>
            </li>
              {% endfor %}
          </ol>
{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.profile', username=user.username) }}
</div>
{% endif %}
{% endif %}
</div>
{% endblock %}

{% block choice %}
{% if choice %}
<div class="comment-wrap">
   <div class="panel-heading">Editor's Choice</div>
        <div class="panel-body">
           <div class="text-center">
<div class="row">
<a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}">
    <img class="img-responsive" alt width="400" height="120" src="{{ choice.picture}}">
</a>
</div>
<div class="row">
    <a href="{{ url_for('main.novel_by_name', novelname=choice.novelname)}}"><h4>{{ choice.novelname}}</h4></a>
</div>
           </div>
        </div>
</div>
{% endif %}
{% endblock %}

{% block pagination %}
<div class="pagination-wrap clearfix" role="navigation"></div>
{% endblock %}