{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Kung Fu Realm - Publish Post{% endblock %}
{% block header %}
<header class="site-header fixed" id="main-navbar">
  <div class="outer-container">
    <div class="container-fluid">
      <div class="col-md-2 col-xs-8 logo-wrap">
        <!-- start logo -->
        <a href="#" class="custom-logo-link">
          <!--<img width="150" height="300" src="/static/images/kungfu.jpg" alt="" />-->
            <img width="150" height="300" src="/static/logo/logo2.png" alt="" />
        </a>
        <!-- end logo -->
      </div>
      <div class="col-md-8 hidden-sm hidden-xs">
        <span class="line"></span>
        <nav class="main-menu" id="main-menu">
          <ul id="menu-main-menu" class="menu">
            <li><a href="/">Home</a></li>
        {% if current_user.is_administrator() %}
        <li class="current-menu-item"><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
            <li class="menu-item-has-children"><a href="#">Author</a>
              <ul>
                <li><a href="{{ url_for('main.author_search', authorname='Jin Yong') }}">Jin Yong</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Gu Long') }}">Gu Long</a></li>
                <li><a href="{{ url_for('main.author_search', authorname='Tang Jia san shao') }}">Tang Jia san shao</a></li>
                <li><a href="#">Liang Yusheng</a></li>
                <li><a href="#">薛之谦</a></li>
              </ul>
            </li>
           {% if current_user.is_authenticated %}
            <li class="menu-item-has-children"><a href="#">About Me</a>
              <ul>
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% if current_user.is_administrator() %}
                    <li><a href="/admin">Admin Page</a></li>
                <li><a href="{{ url_for('main.manage_user') }}">Manage User</a></li>
                <li><a href="{{ url_for('api.online_user') }}">Online User</a></li>
                <li><a href="{{ url_for('chat.chat_index') }}" target="_blank">Talk With Robot</a></li>
               {% endif %}
               <li><a href="{{ url_for('main.manage_profile') }}">Setting</a></li>
               {% if current_user.can(Permission.MODERATE_COMMENTS) %}
               <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
               {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
             </li>
              {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
              {% endif %}
          </ul>
        </nav>
      </div>
        <!--
      <div class="col-md-2 col-xs-4 text-right">
        <span class="search-toggle" id="search-button" data-toggle="modal" data-target="#searchmodal">
          <i class="fa fa-search text-center"></i>
        </span>
        <span class="mobile-menu-toggle hidden-md hidden-lg" id="nav-toggle-button">
          <i class="fa fa-bars text-center"></i>
        </span>
      </div>
      <div id="search-wrap">
        <form action="{{ url_for('main.search') }}" method="post" class="form-group search-form">
          <div class="form-group clearfix">
            <label class="sr-only" for="search">Search</label>
            <div class="input-group">
              <input type="text" name="search" id="search" value="" class="form-control required email search-input" placeholder="Please Type Search Word ...">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      -->
      <nav class="mobile-menu visible-sm visible-xs" id="mobile-menu">
        <ul id="menu-main-menu-1" class="menu">
          <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
        <li class="current-menu-item"><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
          <li class="menu-item-has-children"><a href="#">Author</a>
            <ul>
              <li><a href="{{ url_for('main.author_search', authorname='Jin Yong') }}">Jin Yong</a></li>
              <li><a href="{{ url_for('main.author_search', authorname='Gu Long') }}">Gu Long</a></li>
              <li><a href="{{ url_for('main.author_search', authorname='Tang Jia san shao') }}">Tang Jia san shao</a></li>
              <li><a href="#">河图</a></li>
              <li><a href="#">薛之谦</a></li>
            </ul>
          </li>
           {% if current_user.is_authenticated %}
            <li class="menu-item-has-children"><a href="#">About Me</a>
              <ul>
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% if current_user.is_administrator() %}
                    <li><a href="/admin">Admin Page</a></li>
                <li><a href="{{ url_for('main.manage_user') }}">Manage User</a></li>
                <li><a href="{{ url_for('api.online_user') }}">Online User</a></li>
                <li><a href="{{ url_for('chat.chat_index') }}" target="_blank">Talk With Robot</a></li>
               {% endif %}
               <li><a href="{{ url_for('main.manage_profile') }}">Setting</a></li>
               {% if current_user.can(Permission.MODERATE_COMMENTS) %}
               <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
               {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
             </li>
              {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
              {% endif %}
        </ul>
      </nav>
      <div class="backdrop hidden-md hidden-lg" id="backdrop">
        <span class="menu-close text-center"><i class="fa fa-arrow-left"></i></span>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block cover %}{% endblock %}
{% block content %}
    <br>
<div class="comment-wrap" id="comments">
    <h3>Publosh Your Blog</h3>
{% if current_user.can(Permission.WRITE_ARTICLES) %}
{#    <div class="comment-respond">#}
{#{{ wtf.quick_form(form) }}#}
{#    </div>#}
<form action="{{ url_for('main.publish_post') }}" method="POST"class="comment-form">
        <div class="form-group comment-form-author">
        <label for="name">Post Name <span class="required">*</span></label>
        <input class="form-control" id="postname" name="postname" type="text" value="" size="30" aria-required='true' />
        </div>
         <div class="form-group comment-form-author">
        <label for="novel name">Novel Name <span class="required">*</span></label>
        <input class="form-control" id="novelname" name="novelname" type="text" value="" size="30" aria-required='true' />
        </div>
        <div class="form-group comment-form-comment">
        <label for="content">Post Content <span class="required">*</span></label>
        <textarea class="form-control" id="postbody" name="postbody" cols="45" rows="6" aria-required="true"></textarea>
        </div>
        <div class="form-group comment-form-author">
        <label for="author">Original Author</label>
        <input class="form-control" id="original" name="original" type="text" value="" size="30" aria-required='true' />
        </div>
        <div class="form-group comment-form-author">
        <label for="author">Picture Address</label>
        <input class="form-control" id="picture" name="picture" type="text" value="" size="30" aria-required='true' />
        </div>
        <div class="form-group comment-form-author">
        <label for="author">Tag</label>
        <input class="form-control" id="tag" name="tag" type="text" value="" size="30" aria-required='true' />
        </div>
        <button  name="submit" type="submit" id="submit" class="btn btn-primary" value="Submit Comment">Submit</button>
</form>
{% endif %}
{% endblock %}
</div>
{% block pagination %}
    <div class="pagination-wrap clearfix" role="navigation"></div>
{% endblock %}